name: Static analysis and coverage

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  analyze:
    uses: przemek83/workflows/.github/workflows/static-analysis-and-coverage-go.yml@main
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}